* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
}

body{
  font-size: 20px;
}

.container {
  max-width:1600px;
  height: 92px;
  margin: 0 auto;
}

.logo {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-left: 15px;
}

.header {
  background-color: #1C1E53;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__info {
  width: 562px;
  margin: 220px auto 64px;
  text-align: center;

}

.content{
  width: 1280px;
  margin: 128px auto 0;
}
.info__header{
  margin-bottom: 16px;
  text-align: center;
}

.link__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 32px;
}

.link { 
  text-decoration: none;
  margin-left: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.link:active{
  background-color: #FFFFFF;
}

.news {
  width: 832px;
  margin-bottom:30px;
  margin: 0 auto;
}

.news__header{
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-bottom: 32px;
}

.news__date{
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}

.news__first {
  margin-right: 16px;
}
.news__links {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}



.news__date_updated {
  margin-left: 30px;
}

.news__watch {
  margin-left: 30px;
}

.news__comment_block {
  border: solid black;
}

.news__comment_block{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.contact {
  list-style-type: none;
  padding-left: 16px;
  margin-top: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #F4F6FC;
  width: 762px;
  margin: 32px auto;
}

.contact__p{
  margin: 16px 0 16px;
}

.about__content {
  margin-top: 40px;
}

.about__content {
  background-color: gray;
}


input[type=text] {
  padding:10px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
  width: 800px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}


a:link {
  color: #BBBBCB
}
a:visited {
  color: #BBBBCB
}
a:hover {
  color: #154088; 
}
a:active {
  color: #497DDD; 
}

