*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration:none;
}

body{
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #282938;
}

.container {
  width: 100%;
  max-width:1600px;
  height: 92px;
  margin: 0 auto;
}

.logo {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-left: 15px;
}

.header {
  background-color: #1C1E53;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__info {
  width: 562px;
  margin: 220px auto 64px;
  text-align: center;

}

.content{
  width: 1280px;
  margin: 128px auto 0;
}
.info__header{
  margin-bottom: 16px;
  text-align: center;
}

.link__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 32px;
}

.link { 
  text-decoration: none;
  margin-left: 32px;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
}
.link:active{
  background-color: #FFFFFF;
}

.news {
  width: 832px;
  margin-bottom:30px;
  margin: 0 auto;
}

.news__header{
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-bottom: 32px;
}

.news__date{
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}

.news__first {
  margin-right: 16px;
}
.news__links {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}



.news__date_updated {
  margin-left: 30px;
}

.news__watch {
  margin-left: 30px;
}

.news__comment_block {
  border: solid black;
}

.news__comment_block{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.contact {
  list-style-type: none;
  padding-left: 16px;
  margin-top: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #F4F6FC;
  width: 762px;
  margin: 32px auto;
}

.contact__p{
  margin: 16px 0 16px;
}

.about__content {
  margin-top: 40px;
}

.about__content {
  background-color: gray;
}


input[type=text] {
  padding:10px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
  width: 800px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}


a:link {
  color: #BBBBCB
}
a:visited {
  color: #BBBBCB
}
a:hover {
  color: #154088; 
}
a:active {
  color: #497DDD; 
}

.about__as__block{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 128px;
}

.about__info{
  width: 592px;
  height: 300px;
  padding-top: 32px;
}

.about__img{
  width: 547px;
  height: 366px;
}
.about__header{
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  margin-bottom: 8px;
}

.about__info {
  margin-right: 138px;
}

.about__title{
  width: 484px;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #282938;
  margin-bottom: 31px;
}

.about__text{
  width: 484px;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.whe__we__img{
  width: 1280px;
  height: 340px;
  object-fit:cover; 
  margin-bottom: 128px;
}

.block__who__we{
  background-color: #F4F5F5;
  display: flex;
  justify-content: space-around;
  padding: 80px 80px 109px 80px;
}

.who__we__title{
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

.who__we__text{
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.our__mission__block{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #EEF4FA;
  padding-top: 96px;
  margin-bottom: 128px;
}

.our__mission__tap{
  display: flex;
  justify-content: space-around;
  padding-bottom: 96px;
  width: 1278px;
}

.our__mission__img{
  width: 515px;
  height: 334px;
  object-fit:cover;
}

.our__mission__info{
  width: 623px;
}

.our__mission__header{
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 16px;
}

.our__mission__title{
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  padding-bottom: 16px;
}

.main__text{
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.footer{
  background-color: #1C1E53;
  height: 320px;
}

.footer__header{
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}

.footer__text{
  padding-top: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #F4F6FC;
  opacity: 0.8;
}

.footer__info{
  width: 400px;
  height: 200px;
  margin-left: 760px;
  padding-top: 70px;
}

.footer__contacts{
  margin-top: 16px;
  background-color: #FCD980;
  width: 517px;
  height: 70px;
}

.footer__title{
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.footer__phone__text{
  display: flex;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
}




