* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
}

body{
  font-size: 20px;
}

.container {
  max-width:1060px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
}

.header {
  background-color: lightgray;
}


.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  list-style-type: none;
  
}

.link { 
  padding-top: 30px;
  text-decoration: none;
  margin-right: 30px;
}

.news {
  background-color: gray;
}

.news__desc {
  margin-left: 20px;
}

.news__date{
  font-size:12px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.news__date_updated {
  margin-left: 30px;
}

.news__watch {
  margin-left: 30px;
}

.news__comment_block {
  border: solid black;
}

.news__comment_block{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.news {
  margin-bottom:30px;
}

.news__desc {
  padding-top: 50px;
}

.news__header{
  padding-top: 40px;
  margin: 0 auto;
  width: 100px;
}

.contact {
  list-style-type: none;
  margin-top: 40px;
  padding-bottom: 40px;
}

.about__content {
  margin-top: 40px;
}

.contact {
  background-color: gray;
}

.about__content {
  background-color: gray;
}


input[type=text] {
  padding:10px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
  width: 800px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}


