{% extends 'news_main/base.html' %}
% load static %}
{% block content %}
<div class="about__content">Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Inventore quae ipsam culpa reprehenderit
    explicabo ipsa velit possimus, blanditiis sit. Deleniti f
    acilis unde, laudantium excepturi consequuntur similique
    fugit eos culpa eius tenetur id? Temporibus accusantium quos,
    reiciendis veritatis in nulla, repudiandae rem architecto qui
    eque magni fugiat nostrum similique maiores quasi?
</div>
{% endblock content %}
