{% extends 'news_main/base.html' %}
% load static %}
{% block content %}
<div class="content__info">
    <h2 class="info__header">Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore.</p>
</div>
<div class="contacts">
    <ul class="contact">
        <li class="contact__info">
            <p class="contact__p">Адрес: Москва</p>
            <p class="contact__p">Телефон: 8-000-000-00-00</p>
        </li>
    </ul>
    <ul class="contact">
        <li class="contact__info">
            <p class="contact__p">Адрес: Москва</p>
            <p class="contact__p">Телефон: 8-000-000-00-00</p>
        </li>
    </ul>
</div>
{% endblock content %}