<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <nav>
            <ul class="nav__links">
                <img src="logo.png" class="logo" alt="">
                <li class="link"><a href="#">Главная</a></li>
                <li class="link"><a href="#">Новости</a></li>
                <li class="link"><a href="#">Контакты</a></li>
                <li class="link"><a href="#">О нас</a></li>
                <li class="link"><a href="#">Обратная связь</a></li>
            </ul>
        </nav>
    </header>
    <div class="contacts">
        <ul class="contact">
            <li class="contact__info">
                <p>Адрес:Москва</p>
                <p>Телефон:8-000-000-00-00</p>
            </li>
        </ul>
        <ul class="contact">
            <li class="contact__info">
                <p>Адрес:Москва</p>
                <p>Телефон:8-000-000-00-00</p>
            </li>
        </ul>
    </div>
</div>


</body>
</html>