{% load static %}
<header class="header">
    <a href="{% url 'main:index' %}">
        <img src="{% static 'img/logo.png' %}" class="logo" alt="">
    </a>
    <div class="link__block">
        <div class="link"><a href="{% url 'main:index' %}">Главная</a></div>
        <div class="link"><a href="{% url 'main:news' %}">Новости</a></div>
        <div class="link"><a href="{% url 'main:contacts' %}">Контакты</a></div>
        <div class="link"><a href="{% url 'main:about' %}">О нас</a></div>
        <div class="link"><a href="{% url 'main:feedback' %}">Обратная связь</a></div>
        <div class="link"><a href="{% url 'main:news_add' %}">Добавить</a></div>
    </div>
</header>