{% extends 'news_main/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="content__info">
            <h2>Privacy Policy</h2>
            <p>When you’re ready to go beyond prototyping in Figma, 
                Webflow’s ready to help you bring your </p>
        </div>
        {% for new in news %}
        <div class="news">
            <h4 class="news__header">{{ new.title }}</h4>
            <p class="news__desc">{{ new.description }}</p>
            <div class="news__date">
                <div class="news__date_created">Дата создания: {{ new.created_at|date:"M d, Y" }}</div>
                <div class="news__date_updated">Дата обновления:{{ new.updated_at|date:"M d, Y"  }}</div>
                <div class="news__watch">Просмотры: {{ new.views }}</div>
            </div>
            {% for comm in new.comment_set.all %}
            <div class="news__comment_block">
                <div class="comment">{{ comm.text }}</div>
                <div class="comment__date">{{ comm.created_at|date:"M d, Y"  }}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}
